body {
  margin: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: #000;
  font-family: "Cantarell", sans-serif;
}

canvas {
  display: block;
}

#countdown {
  position: absolute;
  z-index: 1;
}
